{% extends 'game/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head %}
  <script>
    const hitMessage = "{% trans 'HIT!'|escapejs %}";
    const missMessage = "{% trans 'MISS'|escapejs %}";

    function shoot(bs) {
      var dice = Math.ceil(Math.random()*6);
      if (dice >= bs) {
        alert(hitMessage);
      } else {
        alert(missMessage);
      }
    }
  </script>
{% endblock %}

{% block content %}
    <div class="container">
<div class="row justify-content-center">
  <div class="col-12">
    <div class="character-profile-header{% if character.is_leader %} character-profile-header--leader{% endif %}">
      <h1 class="mt-2">{{ character.name }}</h1>
      {% include 'game/leader_badge.html' with character=character %}
    </div>
    <div><strong>{% trans "Name" %}:</strong> {{ character.name }}</div>
    <div><strong>{% trans "Warrior type" %}:</strong> {{ character.warrior_type }}</div>
    <div><strong>{% trans "Race" %}:</strong> {{ character.warrior_type.race }}</div>
    <div><strong>{% trans "Battle Level" %}:</strong> {{ character.battle_level }}</div>
    <div>
      {% if character.is_leader %}
        {% trans "Leader of own party" %}
      {% else %}
        {% trans "Member of" %} {{ character.leader }}'s {% trans "Party" %}
      {% endif %}
      {% if other_party_members %} {% trans "with" %}
      {% for member in other_party_members %}
      {{ member }},
      {% endfor %}{% endif %}
    </div>
    <hr class="mt-0 mb-4">
    <h5 class="mb-3">{% trans "Characteristics" %}</h5>
    {% include 'game/parameters_table.html' %}
    <div class="mt-3"><label class="col-4 col-sm-3 col-md-2">{% trans "Equipment" %}:</label><ul>
      {% for equipment in equipments %}
      <li data-toggle="tooltip" data-placement="right" title="{{ equipment.item.description }}">{{ equipment }}</li>
      {% endfor %}
      </ul>
    </div>
    <div class="mt-2">
      <label class="col-4 col-sm-3 col-md-2">{% trans "Ballistic Skill" %}:</label>
      {{ parameters.ballistic_skill.value }}
      <button type="button" class="btn btn-primary btn-sm ml-2" onclick="shoot({{ parameters.ballistic_skill.value }})">{% trans "SHOOT" %}</button>
    </div>
  </div>
</div>
{% endblock %}
