{% load static %}
<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>

    <link rel="stylesheet" href="{% static 'warhammer/style.css' %}">
    <title>WarHammer Helper</title>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/common/cookie-banner.css"> <script async="" src="/static/common/cookie-banner.js"></script>
  </head>
  <body>
    <div id="background"></div>
      {% include 'game/navbar.html' %}
    <div class="nk-cookie-banner alert alert-dark text-center mb-0" role="alert">
  🍪 Ta strona używa ciasteczek do poprawnego działania.
  <a href="/privacy/" target="blank" rel="noopener noreferrer">Więcej informacji</a>
  <button type="button" class="btn btn-primary btn-sm ml-3" onclick="window.nk_hideCookieBanner()">
    Zrozumiano
  </button>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}


    {% block content %}
    {% endblock %}
    <textarea id="chat-log" cols="40" rows="5"></textarea><br>
    <input id="chat-message-input" type="text" size="40"><br>
    <input id="chat-message-submit" type="button" value="Send">

    <script src="/static/js/websocket.js"></script>
    {% include 'game/footer.html' %}
  </body>
</html>

