<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/characters/{{ request.user.selected_character.id }}">{{ user.selected_character.name }}<div style="font-size:10px">({{ user.selected_character.leader.name }}'s Party)</div><div style="font-size:10px">{{ user.selected_character.location }}</div></a>
  {{ request.user.selected_character.leader.name|json_script:"leader-name" }}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
          <!-- li class="nav-item">
            <a class="nav-link" href="/about/">O nas</a>
            </li -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Postać</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                {% if user.selected_character.location.template.id != 1 %}
                  <a class="dropdown-item" href="/choose_leader/">Dołącz do drużyny</a>
                  <a class="dropdown-item" href="/make_own_party/">Wystąp z drużyny</a>
                  {% if user.selected_character.location.template.is_settlement or user.selected_character.location.id == 1 %}
                    {% for next_location in user.selected_character.location.template.next_location.all %}
                    <a class="dropdown-item" href="{{ next_location.next_location_url }}">{{ next_location.next_location_desc }}</a>
                    {% endfor %}

                  {% endif %}
                {% else %}
                  <a class="dropdown-item" href="/break_adventure/">Przerwij przygodę</a>

                {% endif %}
                <a class="dropdown-item" href="/show_event/">Wydarzenia</a>
                <!--a class="dropdown-item" href="/privacy/">Polityka prywatności</a -->
              </div>
            </li>
            {% if user.selected_character.location.template.is_settlement %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Miejsca</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                {% for shop in list_of_shops %}

                <a class="dropdown-item" href="/look_for_shop/{{ shop.id }}/">{{ shop.name }}</a>
                {% endfor %}
              </div>
            </li>
            {% else %}
              {% if user.selected_character.leader == user.selected_character %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Drużyna</a>
                <div class="dropdown-menu" aria-labelledby="dropdown04">
                  {% for next_location in user.selected_character.location.template.next_location.all %}
                  <a class="dropdown-item" href="{{ next_location.next_location_url }}">{{ next_location.next_location_desc }}</a>
                  {% endfor %}
                </div>
              </li>
              {% endif %}
            {% endif %}

            <!--li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ranking</a>
              <div class="dropdown-menu" aria-labelledby="dropdown05">
              <a class="dropdown-item" href="/ranking/">Ranking</a>

              </div>
              </li>

              <li class="nav-item">
              <a class="nav-link" href="/media-about-us/">Media o nas</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/faq/">Q&A</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/materials/">Materiały</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/contact/">Kontakt</a>
              </li>
              <!- li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
              </li -->
       </ul>
       {% endif %}
       <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user }}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown04">
              {% if user.is_authenticated %}
              <a class="dropdown-item" href="/characters/">Lista postaci</a>
              <a class="dropdown-item" href="/choose_character/">Wybierz postać</a>
              <a class="dropdown-item" href="/create_character/">Utwórz nową postać</a>
              <a class="dropdown-item" href="/accounts/profile/">Profil</a>
              <a class="dropdown-item" href="/accounts/logout/">Logout</a>
              {% else %}
              <a class="dropdown-item" href="/accounts/login/">Login</a>
              {% endif %}
            </div>
          </li>
        </ul>
      </div>
    </nav>

